_model: video
---
title: {{ data['title'] }}
---
id: {{ data['id']}}
---
date_created: {{ data['added']}}
---
date_updated: {{ data['updated']}}
---
date_recorded: {{ data['recorded']}}
---
event: {{ data['category']}}
---
speakers: {{ data['speakers']}}
---
description_long: {{ data['description']}}
---
description_short: {{ data['summary']}}
---
tags: {{ data['tags']}}
---
duration: {{ data['duration']}}
---
language: {{ data['language']}}
---
source_url: {{ data['source_url']}}
---
copyright: {{ data['copyright_text']}}
---
slug: {{ data['slug']}}
---
related_urls: {{ data['related_urls']}}
---
related_content: {{ '' }}
---
notes: {{ '' }}
---
state: {{ data['state']}}
---
quality_notes: {{ data['quality_notes']}}
---
thumbnail_url: {{ data['thumbnail_url']}}
---
embed: {{ data['embed']}}
---
video_flv_download_only: {{ data['video_flv_download_only']}}
---
video_flv_length: {{ data['video_flv_length']}}
---
video_flv_url: {{ data['video_flv_url']}}
---
video_mp4_download_only: {{ data['video_mp4_download_only']}}
---
video_mp4_length: {{ data['video_mp4_length']}}
---
video_mp4_url: {{ data['video_mp4_url']}}
---
video_ogv_download_only: {{ data['video_ogv_download_only']}}
---
video_ogv_length: {{ data['video_ogv_length']}}
---
video_ogv_url: {{ data['video_ogv_url']}}
---
video_webm_download_only: {{ data['video_webm_download_only']}}
---
video_webm_length: {{ data['video_webm_length']}}
---
video_webm_url: {{ data['video_webm_url']}}
---
whiteboard: {{ data['whiteboard']}}
