{% extends 'layout.html' %}
{% block title %}
  {{ this.title }}
{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {% if 'youtu.be' in source_url %}
    youtu.be
    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ this.source_url.rsplit('/', 1)[-1] }}" frameborder="0" allowfullscreen></iframe>
  {% elif 'watch' in source_url %}
    watch
    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ this.source_url.rsplit('=', 1)[-1] }}" frameborder="0" allowfullscreen></iframe>
  {% else %}
    {% if 'y' in source_url|string %}
      do this</br>
    {% else %}
      do that</br>
    {% endif %}
    {{ this.source_url.rsplit('/', 1)[-1] }}</br>
    {{ this.source_url.rsplit('=', 1)[-1] }}
  {% endif %}
  {#
  <dl>
    <dt>Event:</dt><dd>{{ this.event }}</dd>
    <dt>Speakers:</dt><dd>{{ this.speakers }}</dd>
    <dt>Tags:</dt><dd>{{ this.tags }}</dd>
    <dt>Description:</dt><dd>{{ this.description_long }}</dd>
    <dt>Summary:</dt><dd>{{ this.description_short }}</dd>
    <dt>Date Created:</dt><dd>{{ this.date_created }}</dd>
    <dt>Date Recorded:</dt><dd>{{ this.date_recorded }}</dd>
    <dt>Date Updated:</dt><dd>{{ this.date_updated }}</dd>
    <dt>Duration:</dt><dd>{{ this.duration }}</dd>
    <dt>Language:</dt><dd>{{ this.language }}</dd>
    <dt>Copyright:</dt><dd>{{ this.copyright }}</dd>
    <dt>Slug:</dt><dd>{{ this.slug }}</dd>
    <dt>Related Urls:</dt><dd>{{ this.related_urls }}</dd>
    <dt>Related Content:</dt><dd>{{ this.related_content }}</dd>
    <dt>Notes:</dt><dd>{{ this.notes }}</dd>
    <dt>State:</dt><dd>{{ this.state }}</dd>
    <dt>Quality Notes:</dt><dd>{{ this.quality_notes }}</dd>
    <dt>Thumbnail Url:</dt><dd>{{ this.thumbnail_url }}</dd>
    <dt>Embed:</dt><dd>{{ this.embed }}</dd>
    <dt>Video FLV Download Only:</dt><dd>{{ this.video_flv_download_only }}</dd>
    <dt>Video FLV Length:</dt><dd>{{ this.video_flv_length }}</dd>
    <dt>Video FLV url:</dt><dd>{{ this.video_flv_url }}</dd>
    <dt>Video MP4 Download Only:</dt><dd>{{ this.video_mp4_download_only }}</dd>
    <dt>Video MP4 Length:</dt><dd>{{ this.video_mp4_length }}</dd>
    <dt>Video MP4 url:</dt><dd>{{ this.video_mp4_url }}</dd>
    <dt>Video Ogv Download Only:</dt><dd>{{ this.video_ogv_download_only }}</dd>
    <dt>Video Ogv Length:</dt><dd>{{ this.video_ogv_length }}</dd>
    <dt>Video Ogv url:</dt><dd>{{ this.video_ogv_url }}</dd>
    <dt>Video WebM Download Only:</dt><dd>{{ this.video_webm_download_only }}</dd>
    <dt>Video WebM Length:</dt><dd>{{ this.video_webm_length }}</dd>
    <dt>Cideo WebM url:</dt><dd>{{ this.video_webm_url }}</dd>
    <dt>Whiteboard:</dt><dd>{{ this.whiteboard }}</dd>
  </dl>
  #}
{% endblock %}
