{% extends 'layout.html' %}
{% from "macros/pagination.html" import render_pagination %}

{% block title %}
  List O Videos
{% endblock %}
{% block body %}
  <h2>List O Videos</h2>
  <ul>
    {% for video in this.pagination.items %}
      <li>
        <a href="{{ video|url }}">{{ video.title }}</a>
        {#
        by {{ video.speaker[0] }}
        on {{ video.date_recorded }}
        #}
      </li>
    {% endfor %}
  </ul>
  {% if this.pagination.pages > 1 %}
    {{ render_pagination(this.pagination) }}
  {% endif %}
{% endblock %}

